<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>XLformat landing</title>
    
    <!--label COMPONENT LINK-->
    <link rel="stylesheet"
          href="./../bower_components/fotorama/fotorama.css">
    <link rel="stylesheet"
          href="./../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="./../style/style.css">
</head>
<body>

<!--label 1 BLOCK-->
<header>
    <div class="b-header-wrapper">
        <div class="b-top-header">
            <div class="b-top-header-logo">
                <a href="">
                    <img src="./../img/logo.png"
                         alt="logo">
                </a>
            </div>
            <div class="b-top-header-text">
                <span>Мы оказываем полный</span>
                <span>комплекс печатных услуг "под ключ"</span>
            </div>
            <div class="b-top-header-phone">
                <span>044 238 72 72</span>
                <a href="">Вам перезвонить?</a>
            </div>
        </div>
        <div class="b-bottom-header">
            <div class="b-content">
                <div class="row m-get-free-wrapper__margin">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="b-get-free-wrapper">
                            <h2 class="e-title">
                                Все наши клиенты получают бесплатно
                            </h2>
                            <ul class="b-get-free">
                                <li class="i-print">Подготовку существующего макета к печати</li>
                                <li class="i-pen">Выезд специалиста для снятия замеров</li>
                                <li class="i-print">Доставку тиражей</li>
                                <li class="i-pen">Печать цветопробы</li>
                            </ul>
                            <span class="e-necessary i-mouse">
                                Почему Вам стоит обратиться именно к нам?
                            </span>
                        </div>
                    </div>
                    
                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="b-consultation-request-wrapper">
                            <h3 class="e-title">Оставьте заявку</h3>
                            <span class="e-description">на бесплатную консультацию и выезд специалиста</span>
                            <div class="b-input-wrapp required">
                                <input type="text"
                                       required
                                       placeholder="Ваше имя"
                                       class="e-input">
                            </div>
                            <div class="b-input-wrapp required">
                                <input type="text"
                                       required
                                       placeholder="Ваш телефон"
                                       class="e-input">
                            </div>
                            <div class="b-input-wrapp required">
                                <input type="text"
                                       required
                                       placeholder="Ваш e-mail"
                                       class="e-input">
                            </div>
                            
                            <a href=""
                               class="e-btn">Оставить
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--label 2 BLOCK-->
<div class="b-necessary-refer-wrapper">
    <div class="b-content">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h2 class="e-title title-mark">Почему Вам стоит обратиться именно к нам?</h2>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                <a href=""
                   class="e-btn">Сделать пробную печать</a>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="b-necessary-refer-lists-wrapper">
                    <div class="b-necessary-refer-list-wrapper">
                        <div class="b-necessary-refer-item">
                            <span class="i-hat">
                                Учимся, как у профе-
                                ссионалов отрасли, так
                                и у наших клиентов
                            </span>
                        </div>
                        <div class="b-necessary-refer-item">
                            <span class="i-calendar">
                                Это качественная печать
                                в короткие сроки по
                                приемлемой цене
                            </span>
                        </div>
                        <div class="b-necessary-refer-item">
                            <span class="i-medal">
                                Уже больше 9 лет мы
                                становимся лучше и
                                постоянно развиваемся
                            </span>
                        </div>
                    </div>
                    
                    <div class="b-necessary-refer-list-wrapper">
                        <div class="b-necessary-refer-item">
                            <span class="i-board">
                                Мы чётко понимаем,
                                что Вам нужно
                            </span>
                        </div>
                        <div class="b-necessary-refer-item">
                            <span class="i-protect">
                                И мы гарантиро-
                                ванно предоставляем
                                этот результат
                            </span>
                        </div>
                        <div class="b-necessary-refer-item">
                            <span class="i-heart">
                                Мы знаем и
                                любим свое дело
                            </span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!--label SCRIPT-->
<script src="./../bower_components/jquery/dist/jquery.min.js"></script>
<script src="./../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./../bower_components/fotorama/fotorama.js"></script>
<script src="./../script/script.js"></script>
</body>
</html>