<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>XLformat landing</title>
    
    <!--label COMPONENT LINK-->
    <link rel="stylesheet"
          href="./../bower_components/fotorama/fotorama.css">
    <link rel="stylesheet"
          href="./../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="./../style/style.css">
</head>
<body>

<!--label 1 BLOCK-->
<header>
    <div class="b-header-wrapper">
        <div class="b-top-header">
            <div class="b-top-header-logo">
                <a href="">
                    <img src="./../img/logo.png"
                         alt="logo">
                </a>
            </div>
            <div class="b-top-header-text">
                <span>Мы оказываем полный</span>
                <span>комплекс печатных услуг "под ключ"</span>
            </div>
            <div class="b-top-header-phone">
                <span>044 238 72 72</span>
                <a href="">Вам перезвонить?</a>
            </div>
        </div>
        <div class="b-bottom-header">
            <div class="b-content">
                <div class="row m-get-free-wrapper__margin">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="b-get-free-wrapper">
                            <h2 class="e-title">
                                Все наши клиенты получают бесплатно
                            </h2>
                            <ul class="b-get-free">
                                <li class="i-print">Подготовку существующего макета к печати</li>
                                <li class="i-pen">Выезд специалиста для снятия замеров</li>
                                <li class="i-print">Доставку тиражей</li>
                                <li class="i-pen">Печать цветопробы</li>
                            </ul>
                            <span class="e-necessary i-mouse">
                                Почему Вам стоит обратиться именно к нам?
                            </span>
                        </div>
                    </div>
                    
                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="b-consultation-request-wrapper">
                            <form action="">
                                <h3 class="e-title">Оставьте заявку</h3>
                                <span class="e-description">на бесплатную консультацию и выезд специалиста</span>
                                <div class="b-input-wrapp required">
                                    <input type="text"
                                           required
                                           placeholder="Ваше имя"
                                           class="e-input">
                                </div>
                                <div class="b-input-wrapp required">
                                    <input type="text"
                                           required
                                           placeholder="Ваш телефон"
                                           class="e-input">
                                </div>
                                <div class="b-input-wrapp required">
                                    <input type="text"
                                           required
                                           placeholder="Ваш e-mail"
                                           class="e-input">
                                </div>
                                
                                <button type="submit"
                                        class="e-btn">Оставить
                                </button>
                            </form>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--label 2 BLOCK-->
<div class="b-necessary-refer-wrapper">
    <div class="b-content">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h2 class="e-title title-mark">Почему Вам стоит обратиться именно к нам?</h2>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                <a href=""
                   class="e-btn">Сделать пробную печать
                </a>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="b-necessary-refer-lists-wrapper">
                    <div class="b-necessary-refer-list-wrapper">
                        <div class="b-necessary-refer-item">
                            <span class="i-hat">
                                Учимся, как у профе-
                                ссионалов отрасли, так
                                и у наших клиентов
                            </span>
                        </div>
                        <div class="b-necessary-refer-item">
                            <span class="i-calendar">
                                Это качественная печать
                                в короткие сроки по
                                приемлемой цене
                            </span>
                        </div>
                        <div class="b-necessary-refer-item">
                            <span class="i-medal">
                                Уже больше 9 лет мы
                                становимся лучше и
                                постоянно развиваемся
                            </span>
                        </div>
                    </div>
                    
                    <div class="b-necessary-refer-list-wrapper">
                        <div class="b-necessary-refer-item">
                            <span class="i-board">
                                Мы чётко понимаем,
                                что Вам нужно
                            </span>
                        </div>
                        <div class="b-necessary-refer-item">
                            <span class="i-protect">
                                И мы гарантиро-
                                ванно предоставляем
                                этот результат
                            </span>
                        </div>
                        <div class="b-necessary-refer-item">
                            <span class="i-heart">
                                Мы знаем и
                                любим свое дело
                            </span>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>

<!--label 3 BLOCK-->
<div class="b-we-print-wrapper">
    <div class="b-content">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-line-text">
                <h2 class="e-title">Мы печатаем</h2>
                <ul class="b-print-list">
                    <li>на бумаге, виниле <span>( баннер литой )</span></li>
                    <li>виниле <span>( баннер литой )</span></li>
                    <li>пленке <span>( Oracal, Ritrama др. )</span></li>
                    <li>пластике <span>( ПВХ, акрил )</span></li>
                    <li>холсте <span>( мат, глянец )</span></li>
                </ul>
                <span class="b-print-also">Также выполняем послепечатные работы</span>
                <ul class="b-print-list">
                    <li>плоттерную порезку</li>
                    <li>прикатку, поклейку</li>
                    <li>брендирование автомобилей</li>
                    <li>оформляем вывески</li>
                    <li>витрины.</li>
                </ul>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <div class="b-print-work-list-wrapper clearfix">
                    <div class="b-print-work-item">
                        <img src="./../img/q3.jpg"
                             alt="img">
                        <span class="e-label">Холст</span>
                        
                        <div class="b-print-work-item-hover">
                            <span>Печать на баннерной ткани, от 110грн/кВ.м</span>
                            <a href=""
                               class="e-btn">Заказать
                            </a>
                        </div>
                    </div>
                    <div class="b-print-work-item">
                        <img src="./../img/q2.jpg"
                             alt="img">
                        <span class="e-label">Наклейка</span>
                        
                        <div class="b-print-work-item-hover">
                            <span>Печать на баннерной ткани, от 110грн/кВ.м</span>
                            <a href=""
                               class="e-btn">Заказать
                            </a>
                        </div>
                    </div>
                    <div class="b-print-work-item">
                        <img src="./../img/q1.jpg"
                             alt="img">
                        <span class="e-label">Наклейка</span>
                        
                        <div class="b-print-work-item-hover">
                            <span>Печать на баннерной ткани, от 110грн/кВ.м</span>
                            <a href=""
                               class="e-btn">Заказать
                            </a>
                        </div>
                    </div>
                    <div class="b-print-work-item">
                        <img src="./../img/q6.jpg"
                             alt="img">
                        <span class="e-label">Плотерная порезка</span>
                        
                        <div class="b-print-work-item-hover">
                            <span>Печать на баннерной ткани, от 110грн/кВ.м</span>
                            <a href=""
                               class="e-btn">Заказать
                            </a>
                        </div>
                    </div>
                    <div class="b-print-work-item">
                        <img src="./../img/q5.jpg"
                             alt="img">
                        <span class="e-label">Витрины</span>
                        
                        <div class="b-print-work-item-hover">
                            <span>Печать на баннерной ткани, от 110грн/кВ.м</span>
                            <a href=""
                               class="e-btn">Заказать
                            </a>
                        </div>
                    </div>
                    <div class="b-print-work-item">
                        <img src="./../img/q4.jpg"
                             alt="img">
                        <span class="e-label">Брендирование</span>
                        
                        <div class="b-print-work-item-hover">
                            <span>Печать на баннерной ткани, от 110грн/кВ.м</span>
                            <a href=""
                               class="e-btn">Заказать
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>

<!--label 4 BLOCK-->
<div class="b-our-work-wrapper">
    <div class="b-content">
        <div class="b-our-work-slider title-mark">
            <div class="fotorama"
                 data-width="100%"
                 data-height="655"
                 data-transition="crossfade"
                 data-arrows="always"
                 data-click="false"
                 data-swipe="true"
                 data-nav="false">
                
                <div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 b-our-work-slider-top-left">
                            <h2 class="e-title">
                                Наши работы
                            </h2>
                            <span class="e-description">Печатаем "на вчера"не теряя в качестве Убедитесь сами!</span>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 b-our-work-slider-top-right">
                            <div class="b-our-work-slider-top-big">
                                <img src="./../img/slide6.jpg"
                                     alt="">
                            </div>
                            <div class="b-our-work-slider-top-double clearfix">
                                <img src="./../img/slide4.jpg"
                                     alt="">
                                <img src="./../img/slide5.jpg"
                                     alt="">
                            </div>
                            <div class="b-our-work-slider-top-width">
                                <img src="./../img/slide3.jpg"
                                     alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row b-our-work-slider-bottom">
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 b-our-work-slider-bottom-left">
                            <div class="b-our-work-slider-bottom-width">
                                <img src="./../img/slide2.jpg"
                                     alt="">
                            </div>
                            <div class="b-our-work-slider-bottom-one">
                                <img src="./../img/slide1.jpg"
                                     alt="">
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 b-our-work-slider-bottom-right">
                            <span class="e-text">Только у нас Вы получаете полный комплекс услуг.</span>
                            <span class="e-text">Оставьте заявку сейчас, <span>и мы подготовим для Вас специальное
                                                                               предложение</span></span>
                            
                            <a href=""
                               class="e-btn">Оставить
                            </a>
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 b-our-work-slider-top-left">
                            <h2 class="e-title">
                                Наши работы
                            </h2>
                            <span class="e-description">Печатаем "на вчера"не теряя в качестве Убедитесь сами!</span>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 b-our-work-slider-top-right">
                            <div class="b-our-work-slider-top-big">
                                <img src="./../img/slide6.jpg"
                                     alt="">
                            </div>
                            <div class="b-our-work-slider-top-double clearfix">
                                <img src="./../img/slide5.jpg"
                                     alt="">
                                <img src="./../img/slide4.jpg"
                                     alt="">
                            </div>
                            <div class="b-our-work-slider-top-width">
                                <img src="./../img/slide3.jpg"
                                     alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row b-our-work-slider-bottom">
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 b-our-work-slider-bottom-left">
                            <div class="b-our-work-slider-bottom-width">
                                <img src="./../img/slide2.jpg"
                                     alt="">
                            </div>
                            <div class="b-our-work-slider-bottom-one">
                                <img src="./../img/slide1.jpg"
                                     alt="">
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 b-our-work-slider-bottom-right">
                            <span class="e-text">Только у нас Вы получаете полный комплекс услуг.</span>
                            <span class="e-text">Оставьте заявку сейчас, <span>и мы подготовим для Вас специальное
                                                                               предложение</span></span>
                            
                            <a href=""
                               class="e-btn">Оставить
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>

<!--label 5 BLOCK-->
<div class="b-cooperation-wrapper">
    <div class="b-content">
        <div class="b-cooperation-list-wrapper">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <h2 class="e-title title-mark">
                        О Ваших выгодах от сотрудничества с типографией Гринвич
                    </h2>
                </div>
            </div>
            <div class="b-cooperation-list">
                <div class="b-cooperation-item">
                    <h4 class="e-title i-term">Строжайшее соблюдение сроков</h4>
                    <span class="e-description">Вы 100% получите свой заказ в строго оговоренный срок</span>
                </div>
                <div class="b-cooperation-item">
                    <h4 class="e-title i-palette">Нет макета? Это не проблема!</h4>
                    <span class="e-description">Наши дизайнеры профессионально воплотят Ваши идеи</span>
                </div>
                <div class="b-cooperation-item">
                    <h4 class="e-title i-man">Никаких "испорченных телефонов"</h4>
                    <span class="e-description">С Вами будет работать персональный менеджер</span>
                </div>
            </div>
            <div class="b-cooperation-list">
                <div class="b-cooperation-item">
                    <div class="e-title i-pocketbook">Удобные способы оплаты</div>
                    <div class="e-description">Наличный/безналичный расчет (с НДС/без НДС) Оплата онлайн (Приват24</div>
                </div>
                <div class="b-cooperation-item">
                    <div class="e-title i-scent">Без неприятного запаха краски</div>
                    <div class="e-description">Печатаем экосольвентными чернилами - неприятный запах практически
                                               отсутствует
                    </div>
                </div>
                <div class="b-cooperation-item">
                    <div class="e-title i-auto">Доставка</div>
                    <div class="e-description">Мы доставим заказ в удобное Вам время Без опозданий</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--label 6 BLOCK-->
<div class="b-action-wrapper">
    <div class="b-content">
        <h2 class="e-title">ЛОВИ МОМЕНТ! АКЦИЯ!</h2>
        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <span class="e-description">Оставь заявку на печать сейчас, и получи бесплатные метры в подарок!</span>
            </div>
        </div>
        <a href=""
           class="e-btn">оставить
        </a>
    </div>
</div>

<!--label SCRIPT-->
<script src="./../bower_components/jquery/dist/jquery.min.js"></script>
<script src="./../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./../bower_components/fotorama/fotorama.js"></script>
<script src="./../script/script.js"></script>
</body>
</html>