@font-face {
  font-family: "OpenSans";
  src: local("OpenSans");
  src: url("../font/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans");
  src: url("../font/OpenSans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans");
  src: url("../font/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans");
  src: url("../font/OpenSans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans");
  src: url("../font/OpenSans/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans");
  src: url("../font/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans");
  src: url("../font/OpenSans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans");
  src: url("../font/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans");
  src: url("../font/OpenSans/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans");
  src: url("../font/OpenSans/OpenSans-SemiboldItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-BoldItal.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-LightItal.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-MedItal.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-ThinItal.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-XBlack.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-XBlackItal.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-XThin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "TextCompPro";
  src: local("TextCompPro");
  src: url("../font/TextCompPro/PFDinTextCompPro-XThinItal.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
