.title-mark {
  position: relative;
}
.title-mark:before {
  position: absolute;
  content: '';
  width: 1px;
  height: 38px;
  left: -42px;
  top: 14px;
  background-color: #eeeeee;
  z-index: 1;
}
.title-mark:after {
  position: absolute;
  content: '';
  width: 17px;
  height: 7px;
  left: -50px;
  top: 29px;
  background-color: #ff0000;
  z-index: 2;
}
.btn-hover:hover {
  background-color: #ff4141;
}
.linear {
  position: relative;
}
.linear:after {
  content: '';
  position: absolute;
  background-image: url("../img/lines.png");
}
.linear:before {
  content: '';
  position: absolute;
  background-image: url("../img/lines.png");
}
